<section id="category">
  <div class="category body">
    <div class="category-container">
      <h2 class="category-title">오늘의 메뉴를 선택해보세요.</h2>
      <div class="category-list">
        <button class="category-item" id="korea">한식
        </button>
        <button class="category-item" id="china">중식
        </button>
        <button class="category-item" id="japan">일식
        </button>
        <button class="category-item" id="western">양식
        </button>
        <button class="category-item" id="asian">아시안
        </button>
        <button class="category-item" id="desert">디저트
        </button>
        <button class="category-item" id="wheat">분식
        </button>
        <button class="category-item" id="fastfood">패스트푸드
        </button>
      </div>
    </div>
  </div>
</section>